body {
    background-color:cornsilk;
}
li, a {
    font: size 18px; 
    color: coral;
    list-style: none;
    display: inline-block;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: bisque;
}
.logotipo{
    font-family: cursive;
    font-size: 40px;
    font-weight: bold;
}
.navlinks{
    list-style: none;
}
.navlinks li {
    display: inline-block;
    padding: 0% 20px;
    font-size: xx-large;
}
.navlinks li:hover{
    color: rgb(136, 60, 5);
}
button{
    padding: 0% 20px;
    background-color:orange;
    border: none;
    border-radius: 60px;
    font-size: xx-large;
}
button:hover{
    color: darkgoldenrod;
}
main {
    padding: 0%;
    font-family: cursive;
    font-size: large;
    
}
.hh{
    text-align: center;
}
img {
    width: 200px;
    
}

.texto {
    vertical-align: top;
    border: 1px;
    padding: 10px;
    width: 200px;
}
p {
    font-family: cursive;
    text-align:center;
    font-size: x-large;
}
.paraleitura {
    background-color: dimgray;

}
th {
    font-family: Arial, Helvetica, sans-serif;
}
.p123 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:large ;
    }
    .texto2 {
    text-align: center;
    border: 1px;
    padding: 60px;
    width: fit-content;
    
    
    
}



    

   


